.wrapper
  .logo-an
    .logo-pos
      img.logo-part-1(src="images/svg/logo-part-1.svg", alt="logo")
      .logo-animate

  .main-page
    .header
      .header-text
        .text
          h1#changeWords Ви мрієте
            br
            |Ми проектуємо
          p Раціональні, прості та практичні проекти квартир, будинків, офісів, громадських закладів та інших споруд, а також їх комплексне втілення.

      .navbar
        #navbartitle.navigation.title Меню
        #navbar
          a.navigation.nav-main(href="index.html") Головна

          a.navigation(href="index-team.html") Команда

          a.navigation(href="index-portfolio.html") Портфоліо

          a.navigation(href="index-blog.html") Блог

          a.en-link(href="#") English version


    //TODO: SLIDER
    #slider-container
      .carusel
        .owl-carousel.owl-theme
          .item.image-slide(data-content="Квартира з алюмінієвим плінтусом")
            amp-img(src="images/blog-page/blog-photo-1.jpg",
                 srcset="images/blog-page/blog-photo-1.jpg 1920w, images/blog-page/blog-photo-1.jpg 1280w, images/blog-page/blog-photo-1.jpg 768w,images/blog-page/blog-photo-1.jpg 375w"
                          width="1300"
                          height="735"
                          layout="responsive"
                          alt="AMP")
              div(fallback) offline
              noscript
                img(src="images/blog-page/blog-photo-1.jpg" width="1300" height="735", alt="AMP")


          .item.image-slide(data-content="Як закинутий цех перетворити на офіс")
            amp-img(src="images/main-page/photo-slider-3.jpg",
                  srcset="images/main-page/photo-slider-3.jpg 1920w, images/main-page/photo-slider-3.jpg 1280w, images/main-page/photo-slider-3.jpg 768w, images/main-page/photo-slider-3.jpg 375w"
                          width="1300"
                          height="735"
                          layout="responsive"
                          alt="AMP")
              div(fallback) offline
              noscript
                img(src="images/main-page/photo-slider-3.jpg" width="1300" height="735", alt="AMP")

          .item.image-slide(data-content="Як закинутий цех перетворити на офіс")
            amp-img(src="images/main-page/photo-slider-3.jpg",
                  srcset="images/main-page/photo-slider-3.jpg 1920w, images/main-page/photo-slider-3.jpg 1280w, images/main-page/photo-slider-3.jpg 768w, images/main-page/photo-slider-3.jpg 375w"
                        width="1300"
                        height="735"
                        layout="responsive"
                        alt="AMP")
              div(fallback) offline
              noscript
                img(src="images/main-page/photo-slider-3.jpg" width="1300" height="735", alt="AMP")

          .item.image-slide(data-content="Як закинутий цех перетворити на офіс")
            amp-img(src="images/blog-page/blog-photo-1.jpg",
                srcset="images/blog-page/blog-photo-1.jpg 1920w, images/blog-page/blog-photo-1.jpg 1280w, images/blog-page/blog-photo-1.jpg 768w, images/blog-page/blog-photo-1.jpg 375w"
                        width="1300"
                        height="735"
                        layout="responsive"
                        alt="AMP")
              div(fallback) offline
              noscript
                img(src="images/blog-page/blog-photo-1.jpg" width="1300" height="735", alt="AMP")

        .owl-nav
          .owl-prev
            #left
          .owl-next
            #right

      //TODO: ARTICLE

    .main-article-collections
      h1.article-title Ось як ми працюємо
      .main-article
        .columns
          .column
            h2 01 Консультація
            p Безкоштовна консультація у нас в гостях або на вашому об’єкті.
          .column
            h2 02  Концепт
            p Наше бачення найкращого рішення ваших завдань, включаючи варіанти планування, скетчі або фото подібних рішень.
          .column
            h2 03 Проектування і дизайн
            p Інженерія, розробка планування та необхідних креслень. Розрахунок енергоефективності. Дизайн інтер’єру та екстер’єру, вибір кольорів та фактури матеріалів, меблів та елементів декору, погодження проектів та фотореалістичні 3D візуалізації.
          .column
            h2 04 Ремонт чи будівництво
            p Формування будівельних бригад. Управління проектом. Закупівля і доставка будматеріалів. Вивіз та утилізація будівельного сміття. Розробка додаткових креслень. Контроль якості і авторський нагляд.
          .column
            h2 05 Підтримка
            p Гарантійне обслуговування. Внесення змін та доповнень у проекти, професійні консультації та супровід будівництва.










